:root {
	--color-peach: #e97c57;
	--color-yellow: #d6c318;
	--color-cornflower: #7891bb;
	--color-sea: #a0c4b6;
	--color-fire: #e94720;
	--color-lilac: #aea1e5;
	--color-pink: #b97f9a;
	--color-seagreen: #008e6c;
	--light-grey: rgb(217, 217, 217);
	--rainbow: linear-gradient(#d21805, #f5cd00, #00d80e, #01628e);
	--rainbow-light: linear-gradient(
		to left,
		#627499,
		#a87a9e,
		#d2727e,
		#d6c353,
		#7cbd98,
		#8499bf
	);
	--transition-underline: transform 0.75s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@font-face {
	src: url(https://static1.squarespace.com/static/62bd9f4cf2226f24d4172ab5/t/62bf23f4c204081e09aaaa17/1656693748735/Dahlia-Regular.woff);
	font-family: "Dahlia";
}

@font-face {
	src: url(https://static1.squarespace.com/static/62bd9f4cf2226f24d4172ab5/t/62bf2e048ca5e95bc3d005db/1656696324228/Dahlia-bold.woff);
	font-family: "Dahlia Bold";
}

@font-face {
	src: url(https://static1.squarespace.com/static/62bd9f4cf2226f24d4172ab5/t/62c48a85982b7779894b0963/1657047685447/GTFGoodSansTRIAL-Regular.otf);
	font-family: "Good Sans";
}

@font-face {
	src: url(https://static1.squarespace.com/static/62bd9f4cf2226f24d4172ab5/t/62c48d7516e8c401f6a07256/1657048437977/GTFGoodMonoTRIAL-Thin.otf);
	font-family: "Good Mono";
}

:root {
	font-family: "Space Mono" !important;
}

main a {
	font-family: "Space Mono" !important;
}

h1 strong,
h2 strong,
#site-title {
	font-family: "Dahlia Bold";
}

h1,
h2,
h3,
h4,
.header-nav-item,
p,
.list-item-content__button,
.sqs-add-to-cart-button {
	font-family: "Good Sans" !important;
	font-weight: 200;
}

.hero-leak_1 {
	overflow: visible !important;
	width: 43vw;
	height: 43vw;
	border-radius: 50%;
	filter: blur(6vw) brightness(1.27);
	position: absolute;
	top: -20vw;
	left: 25vw;
	z-index: 999;
	opacity: 0.43;
	pointer-events: none;
	transform-origin: center;
	animation: rotateRight 20s infinite linear;
}

.hero-leak_2 {
	display: none;
	overflow: visible !important;
	width: 20vw;
	height: 20vw;
	border-radius: 50%;
	filter: blur(80px);
	position: absolute;
	top: -20vw;
	left: 13vw;
	z-index: 999;
	opacity: 0.59;
	pointer-events: none;
	transform-origin: center;
	animation: rotateRight 20s infinite linear;
}

@keyframes rotateRight {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotateLeft {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

.grid-item {
	border-radius: 4px !important;
}

.list-quick-view-wrapper span:hover {
	text-decoration: underline;
}

.products.collection-content-wrapper
	.grid-item
	.sqs-product-quick-view-button-wrapper {
	padding-bottom: 0 !important;
	transform: none !important;
	width: 100% !important;
	font-weight: bolder;
	text-transform: none;
}

.products.collection-content-wrapper
	.grid-item
	.sqs-product-quick-view-button-wrapper
	.sqs-product-quick-view-button {
	padding: 0;
	height: 38px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.7);
	color: black;
	letter-spacing: 0.07em;
	transform: none;
}

.grid-brand,
.grid-title,
.grid-prices {
	margin-bottom: 0.3rem;
	font-size: 0.9rem !important;
}

.grid-brand {
	font-size: 0.4rem;
	letter-spacing: 0.04rem;
	opacity: 0.7;
}

.grid-item .grid-title {
	position: relative;
}

/* .grid-item .grid-title::after {
  	content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
	background-color: black;
transition: var(--transition-underline);
  transform: scaleX(0);
  transform-origin: right;
}

@media (hover: hover) {
  .grid-item:hover .grid-title::after {
	transform: scaleX(1);
    transform-origin: left;
  }
}

*/

.grid-item-custom-cart-button > div {
	display: block !important;
	border-color: var(--light-grey) !important;
	padding: 12px 16px !important;
	font-size: 14px !important;
	border-width: 1px !important;
}

.list-grid .sqs-add-to-cart-button-inner {
	display: flex;
	justify-content: space-between;
	font-weight: bolder;
}

.grid-main-meta {
	margin-bottom: 1rem;
}

.grid-meta-status .sold-out,
.grid-meta-status .new-badge {
	position: absolute;
	top: -1.9rem;
	right: -1.8rem;
	background: var(--color-seagreen);
	color: white;
	font-weight: 600;
	border-radius: 50%;
	margin-right: 8px;
	margin-top: 8px;
	height: 75px;
	width: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-family: "Good Mono";
}

.grid-meta-status .sold-out {
	background: var(--color-fire);
}

.is-sold-out .sqs-add-to-cart-button-inner span {
	color: var(--light-grey) !important;
}

.is-sold-out {
	pointer-events: none;
}

.is-sold-out .grid-image {
	opacity: 0.5 !important;
}

.grid-main-meta .grid-title {
	display: inline;
}

.grid-main-meta .grid-title::after,
.header-nav-item:not(.header-nav-item--active) a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: black;
	transform-origin: right;
	transform: scaleX(0);
	transition: var(--transition-underline);
}

.grid-main-meta a {
	display: block;
}

@media (hover: hover) {
	.grid-item:hover .grid-title::after,
	.header-nav-item a:hover::after {
		transform-origin: left;
		transform: scaleX(1);
	}

	.sqs-add-to-cart-button-wrapper:hover .sqs-add-to-cart-button {
		opacity: 1 !important;
		background: var(--color-sea) !important;
	}

	.sqs-add-to-cart-button-wrapper:hover .rainbow-swiper {
		opacity: 1;
	}
}

.loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: blue;
	z-index: 9;
}

.loading-screen_inner {
	width: 100%;
	height: 100%;
	background-color: white;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading-screen.is-hidden {
	display: none;
}

.product-details .grid-brand {
	margin-bottom: 1rem;
}

@media screen and (max-width: 575px) {
	.sqs-add-to-cart-button-wrapper {
		width: 100% !important;
	}

	.sqs-product-quick-view-button {
		display: none !important;
	}
}

.custom-cart-drawer-wrapper {
	width: 29vw !important;
	min-width: 460px;
	padding: 1.5rem;
	box-sizing: border-box;
}

@media screen and (max-width: 575px) {
	.custom-cart-drawer-wrapper {
		min-width: 100vw;
		width: 100vw !important;
	}
}

.cart-title {
	text-align: left !important;
	font-family: "neue-haas-grotesk-text" !important;
	letter-spacing: -0.03em;
	font-size: 1rem !important;
}

.cart-title-wrapper {
	padding: 0 !important;
}

.custom-cart-drawer-close {
	padding: 2.4rem;
	transform: scale(0.7) !important;
}

.custom-cart-drawer-close svg {
	opacity: 1;
}

.nested-category-tree-wrapper {
	position: sticky;
	top: 200px;
}

@media screen and (min-width: 768px) {
	.tweak-product-basic-item-gallery-design-stacked .ProductItem-details {
		top: 80px;
	}
}
.cart-title {
	border-bottom: 1px solid hsla(0, 0%, 39%, 0.2);
}

.lAKL9dK1KeosQrxutJR1 {
	padding: 1em 5em !important;
	font-size: 1rem !important;
	border: 1px solid black !important;
	background: transparent !important;
	color: black !important;
}

.lAKL9dK1KeosQrxutJR1:hover {
	background: black !important;
	color: white !important;
}

[data-section-id="62c4329a271ade6cd661c25e"] .content-wrapper,
[data-section-id="62c4329a271ade6cd661c25e"] .image-block {
	padding: 0 !important;
}

[data-section-id="62c4329a271ade6cd661c25e"] .image-block .intrinsic {
	width: 50% !important;
}

[data-section-id="62c4329a271ade6cd661c25e"] .image-block .image-card-wrapper {
	width: 50% !important;
	margin: 0 !important;
	padding: 4rem;
	box-sizing: border-box;
}

#block-1f985d50bb7804701f56 .image-card-wrapper {
	display: flex;
	align-items: flex-end;
}

header .showOnDesktop {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

#site-title {
	position: relative;
}
.sqs-add-to-cart-button-wrapper {
	border-radius: 6px;
	border: none !important;
}

.sqs-add-to-cart-button {
	background: var(--rainbow-light);
	border: none !important;
}

.sqs-add-to-cart-button-wrapper .rainbow-swiper {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: var(--rainbow-light);
	filter: blur(20px);
	z-index: -1;
	opacity: 0;
}

.accordion-item__title-wrapper,
.accordion-item__title {
	font-size: 1rem;
}

.accordion-item__click-target {
	padding: 1.5rem 0 !important;
}

.hero-gradient-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: 9999;
}

.hero-gradient-wrapper .blob {
	border-radius: 50%;
}

.hero-gradient-wrapper {
	padding: 2rem;
	box-sizing: border-box;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#block-1f985d50bb7804701f56 .image-overlay {
	display: none;
}

#block-1f985d50bb7804701f56 img {
	filter: brightness(1.02);
	height: 100% !important;
	width: auto !important;
}

.hero-gradient-wrapper .hero-gradient-text {
	font-size: 4.5vw;
	color: white;
	letter-spacing: -0.04em;
}

#page-section-62c4329a271ade6cd661c25e .sqs-block-image-figure,
#page-section-62c4329a271ade6cd661c25e .sqs-block-image-figure .image-inset,
#page-section-62c4329a271ade6cd661c25e
	.sqs-block-image-figure
	.image-inset
	.sqs-image-shape-container-element {
	height: 90vh;
}

[data-section-id="62c48723f45e42385f127d24"] .content-wrapper {
	padding: 0 !important;
	height: 100% !important;
}

[data-section-id="62c48723f45e42385f127d24"]
	.content-wrapper
	.columns-12
	.row
	.sqs-col-6:first-of-type {
	width: 60%;
}

[data-section-id="62c48723f45e42385f127d24"]
	.content-wrapper
	.columns-12
	> .row {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

@media screen and (max-width: 767px) {
	[data-section-id="62c48723f45e42385f127d24"]
		.content-wrapper
		.columns-12
		> .row {
		flex-direction: column;
	}

	[data-section-id="62c48723f45e42385f127d24"]
		.content-wrapper
		.columns-12
		.row
		.sqs-col-6:first-of-type {
		width: 100% !important;
	}
}

[data-section-id="62c48723f45e42385f127d24"]
	.content-wrapper
	.columns-12
	.row
	.sqs-col-6:nth-of-type(2) {
	width: 40%;
	height: 100% !important;
}

[data-section-id="62c48723f45e42385f127d24"]
	.content-wrapper
	.columns-12
	.row
	.sqs-col-6:nth-of-type(2)
	.sqs-block-html,
[data-section-id="62c48723f45e42385f127d24"]
	.content-wrapper
	.columns-12
	.row
	.sqs-col-6:nth-of-type(2)
	.button-block {
	padding: 0 3rem;
}

[data-section-id="62c48723f45e42385f127d24"]
	.content-wrapper
	.columns-12
	.row
	.sqs-col-6:nth-of-type(2)
	.button-block {
	margin-top: 2rem;
}

[data-section-id="62c48723f45e42385f127d24"] {
	max-width: 1250px;
	margin: 0 auto;
}

[data-section-id="62c48723f45e42385f127d24"] .gallery-grid-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

[data-section-id="62c48723f45e42385f127d24"] .gallery-grid-item > div {
	width: 100%;
	height: 100%;
	transform: scale(0.7) !important;
}

.gallery-grid-item-wrapper img {
	object-fit: cover;
	object-position: center;
}

.ProductItem-details-excerpt {
	order: 1 !important;
}

.ProductItem-product-price {
	order: 2 !important;
}

.ProductItem-additional {
	order: 5;
}

.sqs-block-html a,
.image-title-wrapper a,
.image-subtitle-wrapper a,
.sqs-image-caption a,
.image-caption a,
.sqs-block-newsletter a,
.list-item-content__description a,
.list-section-title a {
	text-decoration: none;
	position: relative;
}

.sqs-block-html a::after,
.image-title-wrapper a::after,
.image-subtitle-wrapper a::after,
.sqs-image-caption a,
.image-caption a::after,
.sqs-block-newsletter a::after,
.list-item-content__description a::after,
.list-section-title a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: black;
	transition: var(--transition-underline);
	transform-origin: left;
}

@media screen and (hover: hover) {
	.sqs-block-html a:hover::after,
	.image-title-wrapper a:hover::after,
	.image-subtitle-wrapper a:hover::after,
	.sqs-image-caption a,
	.image-caption a:hover::after,
	.sqs-block-newsletter a:hover::after,
	.list-item-content__description a:hover::after,
	.list-section-title a:hover::after {
		transform: scaleX(0);
		transform-origin: right;
	}
}

[data-section-id="62c57da542cecf22e899d13c"] {
	display: none;
}
